<mat-card fxLayout="column">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-title fxLayoutAlign="center">Find Shoe</mat-card-title>
  <table fxLayoutAlign="center" class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input name="shoeSize" formControlName="shoeSize" ngDefaultControl matInput placeholder="Shoe Size">
      <mat-hint></mat-hint>
    </mat-form-field></td>
  </tr></table>
  <table fxLayoutAlign="center" class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input name="shoeName" formControlName="shoeName" ngDefaultControl matInput placeholder="Shoe Name">
      <mat-hint></mat-hint>
    </mat-form-field></td>
  </tr></table>
  <table fxLayoutAlign="center" class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input name="shoeType" formControlName="shoeType" ngDefaultControl matInput placeholder="Shoe Type">
        <mat-hint></mat-hint>
      </mat-form-field></td>
  </tr></table>
  <table fxLayoutAlign="center" class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input name="shoeColor" formControlName="shoeColor" ngDefaultControl matInput placeholder="Shoe Color">
      <mat-hint></mat-hint>
    </mat-form-field></td>
  </tr></table>
  <button mat-raised-button fxLayoutAlign="center center" color="primary">Add</button>
  </form>
</mat-card>
