
<!--<div fxLayout="row">-->
<!--  <button class="newTask" mat-raised-button color="primary" fxLayoutAlign="left" (click)="addTask()">+ Add Shoe</button>-->
<!--</div>-->
<!--<mat-accordion multi class="mat-table">-->
<!--  <section class="mat-header-row">-->
<!--    <span class="mat-header-cell">#</span>-->
<!--    <span class="mat-header-cell">Site</span>-->
<!--    <span class="mat-header-cell">Size</span>-->
<!--    <span class="mat-header-cell">Product</span>-->
<!--    <span class="mat-header-cell">Billing</span>-->
<!--    <span class="mat-header-cell">Proxy List</span>-->
<!--    <span class="mat-header-cell">Status</span>-->
<!--  </section>-->
<!--</mat-accordion>-->
<!--<mat-card>-->
<!--<mat-card-content>-->
<!--  <div class="container">-->
<!--      <section>-->
<!--      <span *ngFor="let task of TaskList">-->
<!--        <td class="taskInfoOne">{{task.ID}}</td>-->
<!--        <td class="taskInfoTwo">{{task.site}}</td>-->
<!--        <td class="taskInfoThree">{{task.size}}</td>-->
<!--        <td class="taskInfoFour">{{task.product}}</td>-->
<!--        <td class="taskInfoFive">{{task.billing}}</td>-->
<!--        <td class="taskInfoSix">{{task.proxy}}</td>-->
<!--      </span>-->
<!--      </section>-->
<!--  </div>-->
<!--</mat-card-content>-->
<!--</mat-card>-->

<div class="unicorn-dark-theme">
<script>
    var global = window;
</script>
<button class="newTask" mat-raised-button color="primary" fxLayoutAlign="left" (click)="addTask()">+ Add Shoe</button>
  <h1 fxLayoutAlign="center">{{this.webSocket}}</h1>

<div class="space">
<mat-card *ngIf="this.haveInfo" fxLayout="column">
<mat-card-title fxLayoutAlign="center">Is this what you want to buy?</mat-card-title>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-label fxLayoutAlign="center" class="listContent">Shoe Name: {{this.shoelist[0].shoeName}} </mat-label>
      <mat-label fxLayoutAlign="center" class="listContent">Shoe Type: {{this.shoelist[0].shoeType}} </mat-label>
      <mat-label fxLayoutAlign="center" class="listContent">Shoe Color: {{this.shoelist[0].shoeColor}} </mat-label>
      <mat-label fxLayoutAlign="center" class="listContent">Shoe Size: {{this.shoelist[0].shoeSize}} </mat-label>

   </td>
  </tr></table>
  <mat-card-title fxLayoutAlign="center">Is this how you want to pay?</mat-card-title>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-label fxLayoutAlign="center" class="listContent">Card name: {{this.shippingInfo[0].billingFirstName}} {{this.shippingInfo[0].billingLastName}} </mat-label>
    </td>
  </tr></table>

<!--  <mat-card-content>{{this.shoelist[0].shoeName}}</mat-card-content>-->
<!--  <mat-card-content>{{this.shoelist[0].shoeSize}}</mat-card-content>-->
<!--  <mat-card-content>{{this.shoelist[0].shoeType}}</mat-card-content>-->
<!--  <mat-card-content>{{this.shoelist[0].shoeColor}}</mat-card-content>-->
</mat-card>
</div>
<div class="space">
<mat-card *ngIf="!this.haveInfo" fxLayoutAlign="center center">
  <mat-card-title fxLayoutAlign="center center">Fill in your info to buy a shoe!</mat-card-title>
</mat-card>
</div>
<div fxLayout="row">
  <div class="spaceButton">
<button [disabled]="!haveInfo" mat-raised-button class="startTasks" fxLayoutAlign="center" (click)="startTask()">Buy Shoe</button>
</div>
  <div class="spaceRight">
    <button [disabled]="!haveInfo" mat-raised-button class="clearTask"fxLayoutAlign="right" (click)="clearTasks()">Clear Info</button>
  </div>

</div>
</div>
